.wd-title-font {
    font-size: 20px;
}

.wd-handle-font {
    font-size: 13px;
    color: lightgray;
}

.wd-author-font {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.wd-handle-font-2 {
    font-size: 15px;
    color: lightgray;
}


.wd-bookmark-padding-left {
    padding-left: 16px;
}

.wd-main-padding {
    padding-left: 76px;
}

.wd-style-to-icon {
    padding-left: 12px;
    padding-right: 88px;
    margin-bottom: 12px;
    font-size: 12px;
    color: lightgray;
}

.wd-liked-style {
    color: red;
}

.wd-bookmark-padding-top {
    padding-top: 12px;
}

.wd-bookmark-padding-bot {
    padding-bottom: 12px;
}

.wd-avater-style {
    height: 48px;
    width: 48px;
    border-radius: 24px;
}

.wd-main-content-style {
    font-size: 15px;
    max-width: 580px;
    padding-right: 6px;
    margin-bottom: 6px;
}

.wd-img-content-style {
    font-size: 15px;
    max-width: 580px;
    margin-bottom: 12px;
}

.wd-img-style {
    max-width: 578px;
    margin-bottom: 0px;
    object-fit: fill;
}

.wd-rev-col {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.wd-rounded-corners {
    border-radius: 16px 16px 16px 16px;
}

.wd-img-rounded-corners {
    border-radius: 16px 16px 0px 0px;
    border-color: lightgray;
}

.wd-title-style {
    font-size: 15px;
    margin-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.wd-text-style {
    font-size: 15px;
    color: lightgray;
    margin-top: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.wd-color-gold {
    color:rgb(203, 162, 100);
}

.wd-post-border {
    border: 1px solid rgb(230, 230, 230);
}

.wd-color-blue {
    color: rgb(28, 164, 248);
}

.wd-fg-color-wht {
    color: white;
}

.wd-fg-color-smoke {
    color:rgb(151, 151, 151);
}