/*  A-4 criteria

5 Challenge (50pts required for graduate students)

For the challenge section restyle the explore/index.html Webpage to look like the wireframe shown
below. Implement style overrides in explore/index.css. The resulting screen doesn't have to be
pixel perfect like the wireframe, but use the following as a guideline on what to focus on.

1. Borders: colors, widths and styles
2. Tab: highlighted, unhighlighted, underlined, spacing
3. Font and text: white vs gray color, size, justification
4. White spacing: padding, margins, borders, and corners. General distance between elements and
surrounding context
5. Colors: background, foreground, and borders
6. Icons: color, corner rounding, padding, sizing
7. Forms and input fields: rounded corners, background colors, placeholders, button colors and sizes
8. Positioning and sizing: white text and icon overlaid over large image
9. Responsive: screen should be responsive as described in the Tuiter section
10. General: general look and feel of Web page should look and feel as shown below

*/

/* a4 -- Overriding Bootstrap icon style */
.list-group .no-border {
    border: none;
}

.btn-primary.override-bs {
    height: 46px;
    border-radius: 2em;
    text-align: center;
    font-weight: bold;
    background-color: #1d9bf0;
}

.btn-dark.override-bs2 {
    height: 32px;
    width: 78px;
    border-radius: 16px;
}

.btn-hovered {
    font-weight: bold;
}

.wd-avater {
    max-height: 60px;
    max-width: 60px;
    fill-rule: nonzero;
    border-radius: 30px;
}

.wd-avater-gold {
    max-height: 60px;
    max-width: 60px;
    fill-rule: nonzero;
    border-radius: 6px;
}

.wd-blue-logo {
    color: #1d9bf0;
    font-weight: 800;
    font-size: 1.5em;
}

.wd-circle-boarder {
    background-color: rgb(241, 240, 240);
    border-radius: 2em;
}

.wd-left-bar-style {
    font-size: 1.2em;
}

.form {
    position: relative;
}

.form .fa-search {
    position: absolute;
    top: 12px;
    left: 20px;
    color: #505761;
}

.form span {
    position: absolute;
    right: 17px;
    top: 6px;
    padding: 1px;
    border-left: 1px solid #d1d5db;
}

.form-input {
    height: 42px;
    text-indent: 48px;
    border-radius: 21px;
    background-color: rgb(228, 238, 249);
}

.form-input:focus {
    box-shadow: none;
    border: none;
}

.wd-fg-color-gray {
    color: grey;
    font-weight: normal;
}

.wd-mt-mb {
    margin-top: 2px;
    margin-bottom: 5px;
}

.nav-link.active.wd-style-active {
    font-weight: 700;
    color: black;
    padding-bottom: 1em;
    border-bottom: solid 4px #48a3f9;
}

.wd-content-img {
    max-width: 76px;
    max-height: 76px;
    border-radius: 8px;
}

.wd-gear-style {
    font-size: 1.5em;
    color: #cbdef9;
}

.fa-ellipsis-h {
    color: gray;
}

.fa-square-arrow-up-right {
    color: rgb(112, 112, 112);
}

.wd-fg-color-lightblue {
    color: #1d9df0;
}

.wd-col-3-bg-color {
    font-weight: 600;
    background-color: rgb(228, 238, 249);
}

.wd-col-3-promoted-font {
    font-size: 0.9em;
    color: gray;
    font-weight: 300;
}

.fa-circle-check.bg-blue {
    color: #48a3f9;
}

.fa-circle-check.bg-gold {
    color: #deb901;
}

.list-group-item.border-top-rounded {
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
}

.list-group-item.border-bottom-rounded {
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}