.wd-title-font { font-size: 20px; }
.wd-handle-font { font-size: 13px; color: lightgray; }
.wd-author-font { font-size: 15px; color: white; }
.wd-handle-font-2 { font-size: 15px; color: lightgray; }


.wd-bookmark-padding-left { padding-left: 16px; }
.wd-main-padding { padding-left: 76px; }
.wd-style-to-icon { padding-left: 12px; padding-right: 88px; margin-bottom: 12px; font-size: 12px; color: lightgray; }
.wd-style-to-icon2 { padding-left: 12px; padding-right: 88px; margin-bottom: 12px; font-size: 12px; color: red; }


.wd-bookmark-padding-top { padding-top: 12px; }
.wd-bookmark-padding-bot { padding-bottom: 12px; }
.wd-rounded-diameter-48px { border-radius: 24px; }

.wd-main-content-style { font-size: 15px; max-width: 506px; padding-right: 16px; margin-bottom: 12px; }
.wd-img-content-style { font-size: 15px; max-width: 504px; min-width: 504px; margin-bottom: 12px; }

.wd-img-style { height: 264px; width: 504px; margin-bottom: 0px; object-fit: fill;}
.wd-rev-col { -webkit-filter: invert(1); filter: invert(1); }
.wd-rounded-top-corners { border-radius: 12px 12px 0px 0px; }
.wd-rounded-all-corners { border-radius: 12px 12px 12px 12px; border-color: lightgray; }

.wd-title-style { font-size: 15px; margin-top: 12px; padding-left: 12px; padding-right: 12px; }
.wd-text-style { font-size: 15px; color: lightgray; margin-top: 12px; padding-left: 12px; padding-right: 12px;}

.wd-icon-red { color: red; }


