.wd-bg-color-black { background-color: black; }
.wd-bg-color-black .wd-bg-color-darkgray { background-color:  darkgray; }
.wd-bg-color-darkgray .wd-bg-color-gray { background-color: rgb(110, 118, 125); }

.wd-fg-color-white { color: white;}
.wd-fg-color-other { color: rgb(110, 118, 125); }
.wd-fg-color-other .wd-fg-color-highlighted{  color: rgb(29, 161, 242); border-bottom: 5px rgb(29, 161, 242) solid; }

.wd-font { font-size: 15px; font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
.wd-font .wd-font-sm {font-size: 13px; }

.wd-border-style { border: 1px rgb(47, 51, 54) solid; height: auto; width: auto; }

.wd-float-left { float: left; }
.wd-float-right { float: right; }
.wd-float-done { clear: both; }

/* ----- SVG Icons - svgicons.sparkk.fr ----- */
.wd-svg-icon { width: 1.3em; height: 1.3em; }
.wd-svg-icon path,
.wd-svg-icon polygon,
.wd-svg-icon rect { fill:lightgrey; }
.wd-svg-icon circle { stroke: lightgrey; stroke-width: 1; }

.wd-svg-icon-like { width: 1.3em; height: 1.3em; }
.wd-svg-icon-like path,
.wd-svg-icon-like polygon,
.wd-svg-icon-like rect { fill: red; }
.wd-svg-icon-like circle { stroke: red; stroke-width: 1; }

.wd-svg-icon-gear { width: 3.0em; height: 3.0em; }
.wd-svg-icon-gear path,
.wd-svg-icon-gear polygon,
.wd-svg-icon-gear rect { fill:rgb(29, 161, 242); }
.wd-svg-icon-gear circle { stroke: rgb(29, 161, 242); stroke-width: 1; }
