.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wd-profile-avatar-style {
  position: absolute;
  top: 185px;
  left: 50px;
  border: 3px solid #a3b8ff;
}


.wd-input-style {
  position: relative;
}

.wd-input-title-style {
  font-size: 0.8em;
  position: absolute;
  top: 4px;
  left: 7px;
  background-color: white;
  padding: 0 6px;
}

.wd-input-box-style {
  padding-top: 25px;
  padding-left: 10px;
}